@use './abstracts/' as *;

.contentBlock {

  &.white {
    background-color: $color-white;
  }

  &.grey {
    background-color: $color-grey-light;
  }

  &.blue {
    background-color: $color-blue;
  }

  .container {
    display: flex;
    max-width: $layoutWidth;
    margin: 0 auto;
    padding: 3rem 1rem;

    &.column {
      flex-direction: column;
    }

    &.row {
      flex-direction: column;
      gap: 2rem;

      @include small {
        flex-direction: column;
      }

      @include medium {
        flex-direction: row;
        gap: 4rem;
      }

      .heading {
        flex: 0.3;
      }

      .content {
        flex: 0.7;
      }
    }

    .heading {
      font-size: 3rem;
      font-weight: 600;
      line-height: 1.2;
    }

    ul {
      padding-left: 2rem;
      list-style: disc;

      li {
        margin-bottom: 1rem;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
      
    }
  }
}
