@use './abstracts/' as *;

.footer {
  background-color: $color-grey-light;

  .container {
    max-width: $layoutWidth;
    margin: 0 auto;
    padding: 3rem 1rem 1rem;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    @include medium {
      grid-template-columns: 2fr 1fr 1fr;

    }
  }

  .heading {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    text-align: center;

    @include medium {
      text-align: left;
    }
  }

  .address {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;

    @include medium {
      flex-direction: row;
    }

    .logo {
      max-width: 100px;
    }

    &>div {
      text-align: center;

      @include medium {
        text-align: left;
      }

      p {
        margin: 0;

        &:first-of-type {
          font-weight: 500;
        }
      }
    }
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    @include medium {
      align-items: flex-start;
    }

    a {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: $color-blue-dark;
      }
    }
  }

  nav {
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;

      @include medium {
        align-items: flex-start;
      }

      li {
        a {
          transition: color 0.3s ease-in-out;
  
          &:hover {
            color: $color-blue-dark;
          }
        }
      }
    }
  }

  .copy {
    flex: 1;
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    font-size: 0.9rem;
    margin-top: 1rem;
  }
}