@use "./abstracts/" as *;

//Using Google to render on Safari
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/static/fonts/Poppins-Regular.ttf") format('ttf');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/static/fonts/Poppins-SemiBold.ttf") format('ttf');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/static/fonts/Poppins-Bold.ttf") format('ttf');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  /* (62.5/100) * 16px = 10px */
  color: $color-black;
  -webkit-text-size-adjust: none;
  /* for iOS Safari */
  text-size-adjust: none;
  /* for other mobile browsers */

  @media (prefers-reduced-motion: no-preference) {
    //scroll-behavior: smooth;
  }
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  color: $color-black;
  overflow-x: hidden;
}

:focus:not(:focus-visible) {
  outline: none;
}

/* Remove default padding */
ul[class],
ol[class],
ul,
ol {
  padding: 0;
  list-style: none;
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

label,
button,
select,
summary,
[type=radio],
[type=submit],
[type=checkbox] {
  cursor: pointer;
}

/* Anchor elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

article>*+* {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
  border: 2px solid $color-grey-light;
  border-radius: 5px;
  transition: border 0.3s ease-in-out;
  font-size: 1rem;

  &:focus {
    outline: none;
    border: 2px solid $color-blue;
  }
}

input:-webkit-autofill::first-line {
  font: inherit;
}

a {
  color: $color-blue;
  text-decoration: none;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: $color-blue;
  }
}

h1, h2, h3, h4 {
  line-height: 1.2;
  margin: 0.5rem 0;
}

p {
  line-height: 1.4;
  margin: 1rem 0;

  &:first-of-type {
    margin-top: 0;
  }
}

h1 {
  @extend %heading-1;
}

h2 {
  @extend %heading-2;
}

h3 {
  @extend %heading-3;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
